@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&display=swap");
/*
=============== 
Variables
===============
*/

:root {
  --transition: all 0.3s ease;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1200px;
  --fixed-width: 65px;
  --font-family: "Montserrat", sans-serif;
}

.dark-theme {
  --clr-white: #282c35;
  --clr-text: #fff;
  --clr-primary: #dda7c4;
  --clr-black: #262626;
  --clr-grey-10: #1c1c1c;
  --clr-with-bg: #fff;
}
.light-theme {
  --clr-white: #fff;
  --clr-text: #282c35;
  --clr-primary: #e55c89;
  --clr-black: #222;
  --clr-grey-10: #f1f5f8;
  --clr-with-bg: #fff;
}
.rain-theme {
  --clr-white: #fff;
  --clr-text: #282c35;
  --clr-primary: #ec00c1;
  --clr-black: #222;
  --clr-grey-10: #c3c3c3;
  --clr-with-bg: #fff;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-family);
  background: var(--clr-grey-10);
  color: var(--clr-text);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 2rem;
}
h1 {
  font-size: 3rem;
}
h1 span,
h2 span,
h3 span,
.logo span {
  position: relative;
  display: inline-block;
}
h1 span::before,
h2 span::before,
h3 span::before,
.logo span::before {
  content: "";
  position: absolute;
  left: 30px;
  bottom: 2px;
  width: 110px;
  height: 14px;
  transform: skew(-12deg) translateX(-25%);
  background: var(--clr-primary);
  z-index: -1;
}
.logo span::before {
  bottom: 8px;
}
h2 span::before,
h3 span::before {
  bottom: -3px;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-text);
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
@media screen and (max-width: 1024px) {
  h1,
  h2,
  h3,
  h4 {
    text-align: center;
  }
}
/*  global classes */

/* section */
section {
  width: 90vw;
  margin: 5rem auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  section {
    width: 95vw;
  }
}
